<div class="container">
  <header>
    <div class="logo">
      <img src="descarga.webp" alt="Rich Vagos Logo">
    </div>
    <h1>Rich vagos</h1>
    <h2>Daniel Orellana Mx</h2>
  </header>
  <main>
    <section class="profile">
      <div class="profile-item">
        <img src="descarga.jpeg" alt="Estudiante de Software">
        <p>Soy estudiante de la carrera de Desarrollo de Software</p>
      </div>
      <div class="profile-item">
        <img src="descarga (1).jpeg" alt="Entrenar MMA">
        <p>Mis pasatiempos es el gym y entrenar MMA</p>
      </div>
    </section>
  </main>
  <footer>
    <p>Daniel</p>
    <p>Email: <a href="mailto:daorellana.02@sudamericano.edu.ec">daorellana.02@sudamericano.edu.ec</a></p>
    <p>Teléfono: 0976751934</p>
    <p>Dirección: buenavista-calle 44</p>
  </footer>
</div>
