.slide-16-9-1,
.slide-16-9-1 * {
    box-sizing: border-box;
}

.slide-16-9-1 {
    background: #b91c1c;
    height: 1192px;
    position: relative;
    overflow: hidden;
}

.rectangle-1 {
    background: #d9d9d9;
    width: 594px;
    height: 306px;
    position: absolute;
    left: 227px;
    top: 680px;
}

.rectangle-8 {
    background: #d9d9d9;
    width: 594px;
    height: 306px;
    position: absolute;
    left: 1141px;
    top: 680px;
}

.rectangle-9 {
    background: #d9d9d9;
    border-radius: 28px;
    width: 1190px;
    height: 182px;
    position: absolute;
    left: 389px;
    top: 432px;
}

.ellipse-1 {
    background: #d9d9d9;
    border-radius: 50%;
    width: 285px;
    height: 287px;
    position: absolute;
    left: 357px;
    top: 66px;
}

.image-1 {
    border-radius: 1000px;
    border-style: solid;
    border-color: #f00a0a;
    border-width: 1px;
    width: 285px;
    height: 287px;
    position: absolute;
    left: 357px;
    top: 66px;
    object-fit: cover;
}

.daniel-orellana {
    color: #ffffff;
    text-align: left;
    font-family: 'IslandMoments-Regular', sans-serif;
    font-size: 175px;
    font-weight: 400;
    position: absolute;
    left: 734px;
    top: 104px;
    width: 966px;
    height: 249px;
}

.estudiante-de-la-carrera-de-desarrllo-de-software {
    color: #000000;
    text-align: left;
    font-family: 'InknutAntiqua-Regular', sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 448px;
    width: 1147px;
    height: 151px;
}